<div class="grid_12">
        <h1 class="hero">We have a wide variety of delicious desserts that are sure to take you by surprise!</h1>
</div>
<div id="form" class="grid_12 omega">
        <h2>Contact Smells Like Bakin'</h2>

  

<br />

<%= link_to 'New User', new_user_path %>
</div>